<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <title>Facturacion</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div class="container px-5 py-5 mx">
    <div class="card">
        <div class="row text-center">
            <h1>Nueva facturacion</h1>
        </div>
        <div class="card-body">
            <form th:action="@{/facturacion}" method="post" th:object="${factura}">
                <div class="row g-3">
                    <div class="col-md-6">
                        <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                            <option selected>Seleccione una sucursal</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                            <option selected>Seleccione una sucursal</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                            <option selected>Seleccione el tipo de transaccion</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                            <option selected>Seleccione una sucursal</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                            <option selected>Seleccione una sucursal</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                            <option selected>Seleccione el tipo de transaccion</option>
                        </select>
                    </div>
                <div>
                <br>
                <!--Detalle de la factura-->
                <div class="container">
                    <table class="table table-striped table-bordered">
                        <thead class="table-dark text-center">
                        <!--Encabezado de la tabla-->
                        <tr>
                            <td scope="col">#</td>
                            <td scope="col">Producto</td>
                            <td scope="col">Unidades</td>
                            <td scope="col">Bonificacion</td>
                            <td scope="col">Precio Unitario</td>
                            <td scope="col">Total</td>
                            <td scope="col"></td>
                        </tr>
                        </thead>
                        <!--Cuerpo de la tabla-->
                        <tbody>
                        <tr th:each="item : ${factura.detalles}" th:if="${!factura.detalles?.isEmpty()}">
                            <td th:text="${item.linea}">itemNo</td>
                            <td th:text="${item.medicamento.id}">Producto</td>
                            <td th:text="${item.unidades}">Unidades</td>
                            <td th:text="${item.bonificacion}">Bonificacion</td>
                            <td th:text="${item.precioUnitario}">PrecioUnitario</td>
                            <td th:text="${item.precioTotal}">PrecioTotal</td>
                            <td>
                                <!--Botones de accion-->
                                <a th:href="" class="btn btn-warning">Editar</a>
                                <a th:href="" class="btn btn-danger">Eliminar</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!--Botón condicional que contenga almenos un detalle-->
                <div class="box-footer d-flex justify-content-center" th:if="${factura.detalles?.size() != 0}">
                    <button class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>