<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <title>Usuarios</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row text-center">
        <h1>Usuarios</h1>
    </div>
    <div class="row text-end">
        <div class="col-lg-3">
            <a th:href="@{/crear/usuarios/nuevo}" class="btn btn-primary btn-sm mb3">Agregar</a>
        </div>
        <div class="col-lg-3">
            <a th:href="@{/menu}" class="btn btn-danger btn-sm mb3">Regresar</a>
        </div>
    </div>
    <br>
    <!--Vista de la tabla-->
    <table class="table table-striped table-bordered">
        <thead class="table-dark text-center">
        <!--Encabezado de la tabla-->
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Roles</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <!--Cuerpo de la tabla (Registros)-->
        <tbody>
        <tr th:each="usuario : ${usuarios}">
            <!--Área de los campos-->
            <td th:text="${usuario.id}" class="text-end">ID</td>
            <td th:text="${usuario.nombre}">Nombre</td>
            <td>
                <ul th:if="${!usuario.roles.isEmpty()}">
                    <li th:each="rol : ${usuario.roles}" th:text="${rol.descripcion}"></li>
                </ul>
            </td>
            <td>
                <!--Botones de acción (Editar y Eliminar)-->
                <a th:href="@{crear/usuarios/editar(id=${usuario.id})}" class="btn btn-warning">Editar</a>
                <a th:href="@{crear/usuarios/borrar(id=${usuario.id})}" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
    </table>
</div>
</body>
</html>